.comments-section {
  margin-top: 2rem;
}

.comment-card {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.comment-card h5 {
  margin-bottom: 0.5rem;
}

.comment-card p {
  margin-bottom: 0.3rem;
}

.comment-card .menu-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.eliminate-button {
  color: red;
}

.eliminate-icon {
  color: red;
}

.button-answer-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.button-answer {
  align-self: flex-start;
  margin-top: 1rem;
  background-color: #e4864f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-answer:hover {
  background-color: #e04e0b;
}

.response-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.text-content {
  width: 98%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  resize: none;
}

.send-answer-button {
  margin-top: 0.5rem;
  background-color: #6e4945;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
  margin-left: 55rem;
}

.send-answer-button:hover {
  background-color: #3E2723;
}

.no-comments-section {
  padding: 1rem;
  background-color: #e9ecef;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: #6c757d;
}
